
.about-details-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-md);
}

.about-column {
  display: flex;
  flex-direction: column;
}

/* Work Experience */
.experience-item {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--spacing-sm);
}

.experience-location {
  font-size: 0.95rem;
  opacity: 0.8;
  font-style: italic;
}

.experience-list {
  list-style: none;
  margin: 10px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.experience-list li {
  font-size: 0.95rem;
  margin: 0;
  padding-left: 20px;
  position: relative;
}

.experience-list li::before {
  content: "•";
  position: absolute;
  left: 0;
}

/* Education */
.education-item {
  margin-bottom: var(--spacing-sm); 
}


.education-school {
  font-size: 0.95rem;
  opacity: .8;
}

/* Skills */
.skills-section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.skill-category {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.skill-label {
  font-size: 0.95rem;
}

.skill-list {
  font-size: 0.95rem;
  opacity: 0.8;
}

/* Responsive Design */
@media (max-width: 768px) {
  .about-hero-container {
    grid-template-columns: 1fr;
  }
  .about-hero-image {
    height: 350px;
  }

  .about-details-container {
    grid-template-columns: 1fr;
  }
}
